/* Split the screen in half */

* {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h5 {
    font-size: 15px;
    margin: 2px;
}

.ruleSets h5 {
    margin-bottom: 30px;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

html,
body {
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}

.splitLeft {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0px;
}

.splitRight {
    height: 100%;
    width: 65%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0px;
}

.vLine {
    position: fixed;
    margin: 0;
    left: 35%;
    width: 0.1px;
    border-width: 0.5px;
    height: 100%;
}


/* Control the left side */

.searchDiv,
.callApi {
    margin: 0 auto;
    text-align: center;
}

.bodyJson {
    outline: 1px solid #ccc;
    height: 70%;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}


/* Control the right side */

.hLine {
    position: absolute;
    margin: 0;
    bottom: 0px;
    width: 100%;
}

.topContainer {
    display: inline-block;
    position: relative;
    top: 0px;
    width: 100%;
}

.splitTopContainer {
    display: inline-block;
    top: 0px;
    width: 32%;
    min-width: 100px;
    float: left;
    margin-bottom: 10px;
}

.topTitle {
    position: relative;
    top: 0px;
    margin: 0;
    text-align: center
}

.topValue {
    bottom: 0;
    margin: 0;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.ruleSets {
    position: relative;
    top: 10px;
    overflow-x: hidden;
    max-height: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    width: 97%;
    display: inline-block;
}

.rule {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    display: inline-block;
    overflow: auto;
    margin-bottom: 20px;
}

.propContainer {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.prop {
    display: inline-block;
    position: relative;
    font-weight: 600;
    margin-right: 10px;
}

.val {
    display: inline-block;
    position: relative;
}

.ruleLineSplit {
    width: 50%;
}

.deferredProp {
    text-align: right;
}

.matchContainer {
    margin-left: 20px;
    width: calc(100% - 20px);
}

.ruleContainer {
    margin-left: 40px;
    width: auto;
}